:root {
  --about-padding: 20px;
}

body {
  background-color: #e5e5e5;
}

article,
#about-nav-container nav {
  box-shadow: #aaa 0 1px 3px;
}

/* Widescreen layout */

@media only screen and (min-width: 750px)
{
  main {
    padding: 0 var(--side-padding);
    display: grid;
    min-height: 100%;
    grid-template-columns: min-content auto;
    gap: 30px;
  }

  main > div {
    margin: var(--about-padding) 0;
  }

  #about-nav-container {
    position: sticky;
    top: calc(50px + var(--about-padding));
    bottom: var(--about-padding);
  }
}

/* NAV */

#about-nav-container nav {
  width: 100%;
  min-width: 200px;
  margin-bottom: var(--about-padding);
  padding: 1px;
  background-color: #aaa;
  font-size: 14pt;
}

#about-nav-container h1 {
  margin: 12px;
  font-size: 14pt;
  color: var(--color-dark-1);
}

#about-nav-container a {
  display: block;
  margin: 1px;
  padding:12px 20px;
  background-color: var(--color-light-1);
  color: var(--color-dark-2);
  text-decoration: none;
}

#about-nav-container .active,
#about-nav-container a:hover {
  background-color: #ddd;
}
#about-nav-container .active {
  position: relative;
  color: var(--color-dark-1);
}
#about-nav-container .active:after {
  position: absolute;
  content: "";
  top: 0;
  right: -2px;
  width: 6px;
  height: 100%;
  background-color: var(--color-highlight);
}

/* ARTICLE & CONTENT */

article {
  font-size: 14pt;
  line-height: 1.4;
  padding: var(--about-padding);
  color: var(--color-dark-2);
  background: var(--color-light-1);
}

article svg {
  fill: var(--color-dark-2);
}

article h1 {
  font-family: var(--font-bold);
  font-size: 28pt;
  margin-bottom: 0.5em;
}

article p {
  margin: 1em 0.5em;
}

article small {
  opacity: 70%;
  margin: 1em 0.5em;
}

article ul {
  padding-left: 30px;
}

article hr {
  margin: 1em 0;
}

article .nrglab-logo {
  text-align: center;
  display: flex;
  justify-content: center;
}
