@import 'breaker.css';
@import 'fonts.css';
@import 'footer.css';
@import 'header.css';
@import 'variables.css';

/* WIDTH CONTROL */

:root {
  --side-padding: 18px;
}

@media screen and (min-width:640px) {
  :root {
    --side-padding: 70px;
  }
}

@media screen and (min-width:1100px) {
  :root {
    --side-padding: calc((50vw - 408px) / 2);
  }
}

/* BASELINE */

* {
	margin: 0;
	padding: 0;
}

a {
  color: var(--color-highlight);
}

.hidden {
  display: none !important;
}

html.no-scroll {
  overflow:hidden;
}

body {

	min-height: 100vh;

	display: grid;
  /* Header, main, footer */
	grid-template-rows: min-content auto min-content;

	font-family:var(--font-normal);
	background-color:var(--color-dark-2);
}

main {
  min-height: 100%;
}

main, #fb-root {
  grid-area: 2/1;
}

#fb-root {
  z-index: -1;
}

/*COMMON LAYOUTS*/
#cookie-consent, #cookie-consent > div {
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}

/*BUTTONS*/
.hover-button{
	position:relative;
	background-color:var(--color-highlight);
	padding:14px 44px 14px 24px;
	text-decoration:none;
	font-weight:bold;
	transition-duration:0.4s;
	border:1px solid transparent;
	font-family:var(--font-normal);
	font-size:0.84em;
	color:var(--color-light-1);
	user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
}
.hover-button:not(.disabled):hover{
	cursor:pointer;
	color:#fff;
}
.hover-button.disabled{
	background-color:#777;
	padding:14px 24px;
}
.hover-button:not(.disabled):after{
	position:absolute;
	right:22px;
	content:">";
	transition-timing-function:linear;
	transition-duration:0.3s;
}
.hover-button:not(.disabled):hover:after{right:15px}

/*SPOTLIGHT*/
#spotlight, #spotlight .breaker {
	height: 100%;
	min-height: 500px;
}
#spotlight .breaker {
	background-attachment: fixed;
}

@media only screen and (max-device-width: 1360px){
	#spotlight .breaker{
    background-attachment: scroll;
  }
}

/* External link symbol */
a[target="_blank"]::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	padding: 0 6px;
}
