#video-background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -3;
  overflow: hidden;
}

#video-background,
#video-overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

#video-background {
  z-index: -2;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
