main {
  display: flex;
}

header {
  display: none;
}

footer small {
  padding: 0;
}

#hub-container {
  margin: auto;
}

.nrglab-logo svg {
  width: 72px;
  height: 72px;
  fill: var(--color-light-1);
}

.nrglab-logo span {
  font-size: 44pt;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80px;
  width: calc(100vw - 50px);
  max-width: 500px;
  margin: 16px;
  color: var(--color-light-1);
  font-size: 18pt;
  text-decoration: none;
}

a:not(.nrglab-logo) {
  border-radius: 12px;
  background-color: var(--color-dark-3);
}
