:root{
	--input-padding:12px;
	--input-border-width:1px;
}
*{padding:0;margin:0;border:0}
body{
	min-height:100vh;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:center;
	font-family:sans-serif;
	background-color:#222;
}
body>div{
	width:300px;
	padding:calc(var(--input-padding)*2);
	border-radius:8px;
	border:2px solid #111;
	background-color:#444;
}
label{
	position:absolute;
	clip:rect(1px,1px,1px,1px);
	height:1px;
	width: 1px;
	overflow: hidden;
}
input{
	outline:0;
	font-size:1.2em;
}
input[type="text"],input[type="password"]{
	min-height:28px;
	width:calc(100% - (var(--input-padding) + var(--input-border-width))*2);
	padding:var(--input-padding);
	margin-bottom:var(--input-padding);
	border-radius:6px;
	color:#eee;
	background-color:#111;
	border:var(--input-border-width) solid #808080;
}
input:not([type="submit"]):focus{border-color:#18b}
input[type="submit"]{
	width:100%;
	padding:var(--input-padding);
	margin-top:var(--input-padding);
	border:0;
	border-radius:5px;
	color:#eee;
	background-color:#18b;
	cursor:pointer;
}
::placeholder {color:#eeeb;opacity:1} /* Chrome, Firefox, Opera, Safari 10.1+ */
:-ms-input-placeholder{color:#eeeb} /* Internet Explorer 10-11 */
::-ms-input-placeholder{color:#eeeb} /* Microsoft Edge */
p{
	padding-top:calc(var(--input-padding)*2);
	text-align:center;
	color: #f88;
	font-size:1.15em;
}
