@import 'glitch-video.css';

html {
  background: #000;
}

#txt, #txt:before {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  font-family: monospace;
  font-size: 16pt;
}

#txt:before {
  content: "updating...";
  z-index: -1;
  background: #000;
  color: #000;
}

#txt {
  color: #0f0;
  opacity: 90%;
}

#video-overlay {
  background: radial-gradient(transparent, #000);
}
