:root {

  --color-dark-1: #111;
  --color-dark-2: #222;
  --color-dark-3: #333;
  --color-header: #111e;
  --color-light-1: #eee;
  --color-light-2: #d0d0d0;
  --color-light-3: #bbb;
  --color-highlight: #18b;
  --color-highlight-alpha: #18bb;
  --color-err: #c45;

  --font-light: "gothamlight", sans-serif;
  --font-normal: "gothambook", var(--font-light);
  --font-bold: "gothambold", var(--font-normal);

  --anim-breathe: breathe linear 1.5s infinite alternate;
}
