<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  {{- block "head" . -}}
    {{- partial "head.html" . -}}
  {{- end -}}
  <title>
    {{ block "title" . }}
      {{ if not .IsHome }}
        {{ with .Title }}
          {{ . | title }} | 
        {{ end }}
        {{ .Site.Title }}
      {{ end }}
    {{ end }}
  </title>
  {{ block "stylesheets" . }}
    {{ partial "css.html" . }}
  {{ end }}  
  {{ block "scripts" . }}
  {{ partial "js.html" . }}
  {{ end }}
</head>
<body>
  <header>
    {{- block "header" . -}}
      {{- partial "header.html" . -}}
    {{- end -}}
  </header>
  <main aria-role="main">
    {{- block "main" . -}}
      {{- .Content -}}
    {{- end -}}
  </main>
  <footer>
    {{ block "footer" . -}}
      {{- partial "footer.html" . -}}
    {{- end -}}
  </footer>
</body>
</html>
