<section id="spotlight">
  <div class="breaker"
      {{- with .cover_img -}}
        style="background-image:url('{{ . }}')"
      {{- end -}}
    >
    <div>
      <div>
        <div class="cat event"></div>
        <h1>
          {{- with .name -}}
            {{ . }}
          {{- else -}}
            {{ "TBA" }}
          {{- end -}}
        </h1>
        <!-- TODO: glyph icons for venue and date -->
        {{- with .venue -}}
          <p>{{ . }}</p>
        {{- end -}}
        {{- if isset . "start_text" -}}
          <p>{{ .start_text }}</p>
        {{- else if isset . "start_time" -}}
          {{- $start_time := (.start_time | time.AsTime) }}
          <p>
            {{- $start_time.Format "Monday, 2" }}
            {{- if in (slice 1 21 31) $start_time.Day -}}
              st
            {{- else if in (slice 2 22) $start_time.Day -}}
              nd
            {{- else if in (slice 3 23) $start_time.Day -}}
              rd
            {{- else -}}
              th
            {{- end }} {{ $start_time.Format "January" -}}
          </p>
        {{- end -}}
        {{- with .fb_event_id }}
          <div class="action">
            <a class="hover-button" href="https://www.facebook.com/events/{{ . }}">MORE INFO</a>
          </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
