{{- define "stylesheets" -}}
  {{- partial "css.html" . -}}
  <link rel="stylesheet" href="/css/search.css">
{{ end }}
{{ define "main" }}
  <div class="search-heading">
    <h1>{{ .Title }}</h1>
    <a class="hover-button" href="https://facebook.com/nrglabuk/events">View on Facebook</a>
  </div>
  <table class="search-event-table">
    <thead>
      <tr>
        <td>Date</td>
        <td>Event</td>
        <td>Location</td>
      </tr>
    </thead>
    <tbody>
      {{ range .Site.Data.events }}
        {{ if or (eq .publish_time nil) ((.publish_time | time.AsTime).Before now) }}
          <tr>
            <td
              {{ with .start_time }}
                >{{ (. | time.AsTime).Format "2 Jan" }}
              {{ else }}
                class="grayed">
              {{ end }}
            </td>
            <td
              {{ with .name }}
                >{{.}}
              {{ else }}
                class="grayed">
              {{ end }}
            </td>
            <td
              {{ with .venue }}
                >{{.}}
              {{ else }}
                class="grayed">
              {{ end }}
            </td>
            <td>
              {{ with .fb_event_id }}
                <a class="facebook-logo" href="https://facebook.com/event/{{.}}" title="View on Facebook">
                  <!-- TODO: improve this - don't just import raw SVG each time -->
                  {{ partial "facebook-rgb.svg" }}
                </a>
              {{ end }}
              <!-- TODO: ticket links -->
            </td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
{{ end }}